* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --bg-color: linear-gradient(90deg, rgba(23,50,89,1) 6%, rgba(16,38,69,1) 26%, rgba(14,33,60,1) 90%);
    --bg-color2: #1d3457;
    --bg-color3: #172A46;
    --btn-color: #32767C;
    --btn-text: #fdfdfd;
    --text-primary: #fdfdfd;
    --text-secundary: #ebe7e7;
}

.center {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: var(--bg-color2);
    border-radius: 6px;
    min-width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    padding-bottom: 15px;
}

.card-info {
    background-color: var(--bg-color3);
    border-radius: 4px;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card img {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 45%;
}

#search {
    background-color: var(--bg-color3);
    border-radius: 4px;
    color: var(--text-primary);
    width: 95%;
    margin-top: 15px;
    height: 35px;
    padding-left: 10px;
    border: none;
    outline: none;
}

#search::placeholder {
    color: var(--text-primary);
}

.card .btns {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.card .btns:hover :not(:hover) {
    opacity: 0.3;
}

.btn {
    background-color: var(--btn-color);
    border-radius: 4px;
    border: none;
    color: var(--btn-text);
    width: 48%;
    height: 35px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.2s ease-in;
}

.btn:hover {
    scale: 1.05;
}

.number {
    color: var(--text-secundary);
    font-weight: 500;
}

.name {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 10px;
    color: var(--text-primary);
}

.mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mode-btn i {
    font-size: 20px;
    color: var(--text-primary);
    cursor: pointer;
}

#credits {
    color: var(--text-primary);
    opacity: 80%;
    margin-top: 20px;
    letter-spacing: 1px;
}

@media (max-width: 700px) {
    .card {
        width: 80%;
    }

    .card .btns:hover :not(:hover) {
        opacity: 1;
    }
}